# Expo / React Native public Firebase config
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=opero-enterprise.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=opero-enterprise
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=opero-enterprise.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://opero-enterprise-default-rtdb.firebaseio.com
